
/* Basic CSS Reset ********************************************************************/
* { 
	padding: 0; 
	margin: 0;
	border: 0;
	outline: 0; 
}

/* Basic height of both your html and body tag ****************************************/
html, body { height: 100% }


/* Start your CSS here ****************************************************************/

body	{
	
	background: white;
}

#textcontainer {
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 20%;
	
}

p{ 
	font-family:'Helvetica';
	font-size: 3vw;
	margin-top: 15vw;
	line-height: 3.5vw;
	letter-spacing: -0.05vw;


}